<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="MIS_VersionMConnectionString" connectionString="Data Source=192.168.100.3,49170;Initial Catalog=MIS_VersionM;User ID=sa;Password=Monu"
      providerName="System.Data.SqlClient" />
    <add name="MIS_VersionMConnectionString2" connectionString="Data Source=192.168.1.177,49170;Initial Catalog=MIS_VersionM;User ID=sa;Password=Monu"
      providerName="System.Data.SqlClient" />
    <add name="MIS_VersionMEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.177,49170;initial catalog=MIS_VersionM;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MIS_VersionMConnectionString3" connectionString="Data Source=DESKTOP-SRF6D9H\MSSQLFINAL;Initial Catalog=MIS_VersionM;User ID=sa;Password=Monu"
      providerName="System.Data.SqlClient" />
    <add name="MIS_VersionMConnectionString4" connectionString="Data Source=192.168.1.177,49170;Initial Catalog=MIS_VersionM;User ID=sa;Password=Monu"
      providerName="System.Data.SqlClient" />
    <add name="MIS_VersionMConnectionString5" connectionString="Data Source=192.168.1.177,49170;Initial Catalog=MIS_VersionM;Persist Security Info=True;User ID=sa;Password=Monu"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>